*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#landing-page{
	height: 50vh;
	background-image: url(https://images.pexels.com/photos/73873/star-clusters-rosette-nebula-star-galaxies-73873.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/*display: flex;
	flex-direction: column;
	align-items:  center;
	background-color: #FDEFF4;
	color: #524A4E;*/
}
#icon{
	width: 40px;
	height: 40px;
}

#gmap{
	height: 60vh;
	width: 100%;
}

li {
	list-style-type: none;
}
