*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
#contactForm{
	background-color: #24A19C;
	color: white;
	font-size: 18px;
}
#btnSend{
	background-color: #FAEEE7;
	color: #325288;
	font-size: 18px;
	font-weight: bold;
}
#navBar1{
	background-color: #FAEEE7;
	color: #325288;
	font-weight: bold;*/
}